/node_modules
*/node_modules/*
*/node_modules
node_modules/*
*node_modules/*

/db
*/db/*
*/db
db/*
*db/*

/ml
*/ml/*
*/ml
ml/*
*ml/*



.env
*.env
*.sql
*.txt

*./uploads
./uploads/
./uploads
./uploads/*
*./uploads/*
uploads/
uploads/*